##### source: https://towardsdatascience.com/prototyping-a-recommender-system-step-by-step-part-1-knn-item-based-collaborative-filtering

In [ ]:
# import sys
# !{sys.executable} -m pip install numpy pandas matplotlib sklearn seaborn
# !{sys.executable} -m pip install fuzzywuzzy

In [110]:
import pprint
pp = pprint.PrettyPrinter(indent=2)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import warnings
import time

warnings.filterwarnings('ignore')
%matplotlib inline

##### Loading in data

In [111]:
def load_ratings():
    COL_NAME = ['uid','mid','rating','timestamp']
    df = pd.read_csv('data/movie-ratings.dat',sep='::', header=None, engine='python', names=COL_NAME)
    return df

def load_movies():
    COL_NAME = ['mid','movie_name','movie_genre']
    df = pd.read_csv('data/movie-movies.dat',sep='::', header=None, engine='python', names=COL_NAME)
    return df

def load_users():
    COL_NAME = ['uid','user_fea1','user_fea2','user_fea3','user_fea4']
    df = pd.read_csv('data/movie-users.dat',sep='::', header=None, engine='python', names=COL_NAME)
    return df

def text2seq(text, n_genre):
    """ using tokenizer to encoded the multi-level categorical feature """
    tokenizer = Tokenizer(lower=True, split='|',filters='', num_words=n_genre)
    tokenizer.fit_on_texts(text)
    seq = tokenizer.texts_to_sequences(text)
    seq = pad_sequences(seq, maxlen=3,padding='post')
    return seq

In [112]:
users = load_users()
users.head()

   uid user_fea1  user_fea2  user_fea3 user_fea4
0    1         F          1         10     48067
1    2         M         56         16     70072
2    3         M         25         15     55117
3    4         M         45          7     02460
4    5         M         25         20     55455

In [113]:
users.shape

(6040, 5)

In [114]:
movies = load_movies()
movies.head()

   mid                          movie_name                   movie_genre
0    1                    Toy Story (1995)   Animation|Children's|Comedy
1    2                      Jumanji (1995)  Adventure|Children's|Fantasy
2    3             Grumpier Old Men (1995)                Comedy|Romance
3    4            Waiting to Exhale (1995)                  Comedy|Drama
4    5  Father of the Bride Part II (1995)                        Comedy

In [115]:
movies.shape

(3883, 3)

In [116]:
ratings = load_ratings()
ratings.head()

   uid   mid  rating  timestamp
0    1  1193       5  978300760
1    1   661       3  978302109
2    1   914       3  978301968
3    1  3408       4  978300275
4    1  2355       5  978824291

In [117]:
ratings.shape

(1000209, 4)

In [118]:
from scipy.sparse import csr_matrix

# pivot ratings into movie features
movie_features = ratings.pivot(index='mid', columns='uid', values='rating').fillna(0)
movie_features.head()

uid,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
mid,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,5.0,5.0,...,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [119]:
# convert dataframe of movie features to scipy sparse matrix
mat_movie_features = csr_matrix(movie_features.values)

In [120]:
# filter data
movies_cnt = pd.DataFrame(ratings.groupby('mid').size(), columns=['count'])
movies_cnt.head()

     count
mid
1     2077
2      701
3      478
4      170
5      296

In [121]:
popular_movies = list(set(movies_cnt.query('count >= 1').index))  # noqa
# pp.pprint(popular_movies)
movies_filter = ratings.mid.isin(popular_movies).values
movies_filter

array([ True,  True,  True, ...,  True,  True,  True])

In [122]:
users_cnt = pd.DataFrame(ratings.groupby('uid').size(), columns=['count'])
users_cnt.head()

     count
uid
1       53
2      129
3       51
4       21
5      198

In [123]:
active_users = list(set(users_cnt.query('count >= 1').index))  # noqa
# pp.pprint(active_users)
users_filter = ratings.uid.isin(active_users).values
users_filter

array([ True,  True,  True, ...,  True,  True,  True])

In [124]:
ratings_filtered = ratings[movies_filter & users_filter]
ratings_filtered.head()

   uid   mid  rating  timestamp
0    1  1193       5  978300760
1    1   661       3  978302109
2    1   914       3  978301968
3    1  3408       4  978300275
4    1  2355       5  978824291

In [125]:
# pivot and create movie-user matrix
movie_user_mat = ratings_filtered.pivot(index='mid', columns='uid', values='rating').fillna(0)
movie_user_mat.head()

uid,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
mid,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,5.0,5.0,...,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [126]:
# create mapper from movie title to index
hashmap = {  movie: i for i, movie in enumerate(list(movies.set_index('mid').loc[movie_user_mat.index].movie_name)) }
hashmap

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Waiting to Exhale (1995)': 3,
 'Father of the Bride Part II (1995)': 4,
 'Heat (1995)': 5,
 'Sabrina (1995)': 6,
 'Tom and Huck (1995)': 7,
 'Sudden Death (1995)': 8,
 'GoldenEye (1995)': 9,
 'American President, The (1995)': 10,
 'Dracula: Dead and Loving It (1995)': 11,
 'Balto (1995)': 12,
 'Nixon (1995)': 13,
 'Cutthroat Island (1995)': 14,
 'Casino (1995)': 15,
 'Sense and Sensibility (1995)': 16,
 'Four Rooms (1995)': 17,
 'Ace Ventura: When Nature Calls (1995)': 18,
 'Money Train (1995)': 19,
 'Get Shorty (1995)': 20,
 'Copycat (1995)': 21,
 'Assassins (1995)': 22,
 'Powder (1995)': 23,
 'Leaving Las Vegas (1995)': 24,
 'Othello (1995)': 25,
 'Now and Then (1995)': 26,
 'Persuasion (1995)': 27,
 'City of Lost Children, The (1995)': 28,
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)': 29,
 'Dangerous Minds (1995)': 30,
 'Twelve Monkeys (1995)': 31,
 'Wings of Courage (1995)': 32,
 'Babe (1995)': 33,
 'Carrington (1995)': 34,
 'Dead Man Walking (1995)': 35,
 'Across the Sea of Time (1995)': 36,
 'It Takes Two (1995)': 37,
 'Clueless (1995)': 38,
 'Cry, the Beloved Country (1995)': 39,
 'Richard III (1995)': 40,
 'Dead Presidents (1995)': 41,
 'Restoration (1995)': 42,
 'Mortal Kombat (1995)': 43,
 'To Die For (1995)': 44,
 'How to Make an American Quilt (1995)': 45,
 'Seven (Se7en) (1995)': 46,
 'Pocahontas (1995)': 47,
 'When Night Is Falling (1995)': 48,
 'Usual Suspects, The (1995)': 49,
 'Mighty Aphrodite (1995)': 50,
 'Lamerica (1994)': 51,
 'Big Green, The (1995)': 52,
 'Georgia (1995)': 53,
 'Kids of the Round Table (1995)': 54,
 'Home for the Holidays (1995)': 55,
 'Postino, Il (The Postman) (1994)': 56,
 'Confessional, The (Le Confessionnal) (1995)': 57,
 'Indian in the Cupboard, The (1995)': 58,
 'Eye for an Eye (1996)': 59,
 "Mr. Holland's Opus (1995)": 60,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)": 61,
 'Two if by Sea (1996)': 62,
 'Bio-Dome (1996)': 63,
 'Lawnmower Man 2: Beyond Cyberspace (1996)': 64,
 'Two Bits (1995)': 65,
 'French Twist (Gazon maudit) (1995)': 66,
 'Friday (1995)': 67,
 'From Dusk Till Dawn (1996)': 68,
 'Fair Game (1995)': 69,
 'Kicking and Screaming (1995)': 70,
 'Misérables, Les (1995)': 71,
 'Bed of Roses (1996)': 72,
 'Big Bully (1996)': 73,
 'Screamers (1995)': 74,
 'Nico Icon (1995)': 75,
 'Crossing Guard, The (1995)': 76,
 'Juror, The (1996)': 77,
 'White Balloon, The (Badkonake Sefid ) (1995)': 78,
 "Things to Do in Denver when You're Dead (1995)": 79,
 "Antonia's Line (Antonia) (1995)": 80,
 'Once Upon a Time... When We Were Colored (1995)': 81,
 'Last Summer in the Hamptons (1995)': 82,
 'Angels and Insects (1995)': 83,
 'White Squall (1996)': 84,
 'Dunston Checks In (1996)': 85,
 'Black Sheep (1996)': 86,
 'Nick of Time (1995)': 87,
 'Journey of August King, The (1995)': 88,
 'Mary Reilly (1996)': 89,
 'Vampire in Brooklyn (1995)': 90,
 'Beautiful Girls (1996)': 91,
 'Broken Arrow (1996)': 92,
 'In the Bleak Midwinter (1995)': 93,
 'Hate (Haine, La) (1995)': 94,
 'Shopping (1994)': 95,
 'Heidi Fleiss: Hollywood Madam (1995)': 96,
 'City Hall (1996)': 97,
 'Bottle Rocket (1996)': 98,
 'Mr. Wrong (1996)': 99,
 'Unforgettable (1996)': 100,
 'Happy Gilmore (1996)': 101,
 'Bridges of Madison County, The (1995)': 102,
 'Nobody Loves Me (Keiner liebt mich) (1994)': 103,
 'Muppet Treasure Island (1996)': 104,
 'Catwalk (1995)': 105,
 'Braveheart (1995)': 106,
 'Taxi Driver (1976)': 107,
 'Rumble in the Bronx (1995)': 108,
 'Before and After (1996)': 109,
 "Margaret's Museum (1995)": 110,
 'Anne Frank Remembered (1995)': 111,
 "Young Poisoner's Handbook, The (1995)": 112,
 'If Lucy Fell (1996)': 113,
 'Steal Big, Steal Little (1995)': 114,
 'Race the Sun (1996)': 115,
 'Boys of St. Vincent, The (1993)': 116,
 'Boomerang (1992)': 117,
 'Chungking Express (1994)': 118,
 "Star Maker, The (Uomo delle stelle, L') (1995)": 119,
 'Flirting With Disaster (1996)': 120,
 'NeverEnding Story III, The (1994)': 121,
 'Silence of the Palace, The (Saimt el Qusur) (1994)': 122,
 "Jupiter's Wife (1994)": 123,
 'Pie in the Sky (1995)': 124,
 'Angela (1995)': 125,
 'Frankie Starlight (1995)': 126,
 'Jade (1995)': 127,
 'Nueba Yol (1995)': 128,
 'Sonic Outlaws (1995)': 129,
 'Down Periscope (1996)': 130,
 'From the Journals of Jean Seberg (1995)': 131,
 'Man of the Year (1995)': 132,
 'Neon Bible, The (1995)': 133,
 'Target (1995)': 134,
 'Up Close and Personal (1996)': 135,
 'Birdcage, The (1996)': 136,
 'Shadows (Cienie) (1988)': 137,
 'Brothers McMullen, The (1995)': 138,
 'Bad Boys (1995)': 139,
 'Amazing Panda Adventure, The (1995)': 140,
 'Basketball Diaries, The (1995)': 141,
 'Awfully Big Adventure, An (1995)': 142,
 'Amateur (1994)': 143,
 'Apollo 13 (1995)': 144,
 'Rob Roy (1995)': 145,
 'Addiction, The (1995)': 146,
 'Batman Forever (1995)': 147,
 'Belle de jour (1967)': 148,
 'Beyond Rangoon (1995)': 149,
 'Blue in the Face (1995)': 150,
 'Canadian Bacon (1994)': 151,
 'Casper (1995)': 152,
 'Clockers (1995)': 153,
 'Congo (1995)': 154,
 'Crimson Tide (1995)': 155,
 'Crumb (1994)': 156,
 'Desperado (1995)': 157,
 'Devil in a Blue Dress (1995)': 158,
 'Die Hard: With a Vengeance (1995)': 159,
 'Doom Generation, The (1995)': 160,
 'Feast of July (1995)': 161,
 'First Knight (1995)': 162,
 'Free Willy 2: The Adventure Home (1995)': 163,
 'Hackers (1995)': 164,
 'Jeffrey (1995)': 165,
 'Johnny Mnemonic (1995)': 166,
 'Judge Dredd (1995)': 167,
 'Jury Duty (1995)': 168,
 'Kids (1995)': 169,
 'Living in Oblivion (1995)': 170,
 'Lord of Illusions (1995)': 171,
 'Love & Human Remains (1993)': 172,
 'Mad Love (1995)': 173,
 'Mallrats (1995)': 174,
 'Mighty Morphin Power Rangers: The Movie (1995)': 175,
 'Moonlight and Valentino (1995)': 176,
 'Mute Witness (1994)': 177,
 'Nadja (1994)': 178,
 'Net, The (1995)': 179,
 'Nine Months (1995)': 180,
 'Party Girl (1995)': 181,
 'Prophecy, The (1995)': 182,
 'Reckless (1995)': 183,
 'Safe (1995)': 184,
 'Scarlet Letter, The (1995)': 185,
 'Show, The (1995)': 186,
 'Showgirls (1995)': 187,
 'Smoke (1995)': 188,
 'Something to Talk About (1995)': 189,
 'Species (1995)': 190,
 'Stars Fell on Henrietta, The (1995)': 191,
 'Strange Days (1995)': 192,
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)': 193,
 'Tie That Binds, The (1995)': 194,
 'Three Wishes (1995)': 195,
 'Total Eclipse (1995)': 196,
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)': 197,
 'Under Siege 2: Dark Territory (1995)': 198,
 'Unstrung Heroes (1995)': 199,
 'Unzipped (1995)': 200,
 'Walk in the Clouds, A (1995)': 201,
 'Waterworld (1995)': 202,
 "White Man's Burden (1995)": 203,
 'Wild Bill (1995)': 204,
 'Browning Version, The (1994)': 205,
 'Bushwhacked (1995)': 206,
 'Burnt By the Sun (Utomlyonnye solntsem) (1994)': 207,
 'Before the Rain (Pred dozhdot) (1994)': 208,
 'Before Sunrise (1995)': 209,
 'Billy Madison (1995)': 210,
 'Babysitter, The (1995)': 211,
 'Boys on the Side (1995)': 212,
 'Cure, The (1995)': 213,
 'Castle Freak (1995)': 214,
 'Circle of Friends (1995)': 215,
 'Clerks (1994)': 216,
 'Don Juan DeMarco (1995)': 217,
 'Disclosure (1994)': 218,
 'Dream Man (1995)': 219,
 'Drop Zone (1994)': 220,
 'Destiny Turns on the Radio (1995)': 221,
 'Death and the Maiden (1994)': 222,
 'Dolores Claiborne (1994)': 223,
 'Dumb & Dumber (1994)': 224,
 'Eat Drink Man Woman (1994)': 225,
 'Exotica (1994)': 226,
 'Exit to Eden (1994)': 227,
 'Ed Wood (1994)': 228,
 'French Kiss (1995)': 229,
 'Forget Paris (1995)': 230,
 'Far From Home: The Adventures of Yellow Dog (1995)': 231,
 'Goofy Movie, A (1995)': 232,
 'Hideaway (1995)': 233,
 'Fluke (1995)': 234,
 'Farinelli: il castrato (1994)': 235,
 'Gordy (1995)': 236,
 'Gumby: The Movie (1995)': 237,
 'Glass Shield, The (1994)': 238,
 'Hoop Dreams (1994)': 239,
 'Heavenly Creatures (1994)': 240,
 'Houseguest (1994)': 241,
 'Immortal Beloved (1994)': 242,
 'Heavyweights (1994)': 243,
 'Hunted, The (1995)': 244,
 'I.Q. (1994)': 245,
 'Interview with the Vampire (1994)': 246,
 'Jefferson in Paris (1995)': 247,
 'Jerky Boys, The (1994)': 248,
 'Junior (1994)': 249,
 'Just Cause (1995)': 250,
 "Kid in King Arthur's Court, A (1995)": 251,
 'Kiss of Death (1995)': 252,
 'Star Wars: Episode IV - A New Hope (1977)': 253,
 'Little Women (1994)': 254,
 'Little Princess, A (1995)': 255,
 'Ladybird Ladybird (1994)': 256,
 "Enfer, L' (1994)": 257,
 'Like Water for Chocolate (Como agua para chocolate) (1992)': 258,
 'Legends of the Fall (1994)': 259,
 'Major Payne (1994)': 260,
 'Little Odessa (1994)': 261,
 'My Crazy Life (Mi vida loca) (1993)': 262,
 'Love Affair (1994)': 263,
 'Losing Isaiah (1995)': 264,
 'Madness of King George, The (1994)': 265,
 "Mary Shelley's Frankenstein (1994)": 266,
 'Man of the House (1995)': 267,
 'Mixed Nuts (1994)': 268,
 'Milk Money (1994)': 269,
 'Miracle on 34th Street (1994)': 270,
 'Miami Rhapsody (1995)': 271,
 'My Family (1995)': 272,
 'Murder in the First (1995)': 273,
 "Nobody's Fool (1994)": 274,
 'Nell (1994)': 275,
 'New Jersey Drive (1995)': 276,
 'Nemesis 2: Nebula (1995)': 277,
 'Nina Takes a Lover (1994)': 278,
 'Natural Born Killers (1994)': 279,
 'Only You (1994)': 280,
 'Once Were Warriors (1994)': 281,
 'Poison Ivy II (1995)': 282,
 'Outbreak (1995)': 283,
 'Professional, The (a.k.a. Leon: The Professional) (1994)': 284,
 'Perez Family, The (1995)': 285,
 "Pyromaniac's Love Story, A (1995)": 286,
 'Pulp Fiction (1994)': 287,
 'Panther (1995)': 288,
 'Pushing Hands (1992)': 289,
 'Priest (1994)': 290,
 'Quiz Show (1994)': 291,
 'Picture Bride (1995)': 292,
 'Queen Margot (La Reine Margot) (1994)': 293,
 'Quick and the Dead, The (1995)': 294,
 'Roommates (1995)': 295,
 'Ready to Wear (Pret-A-Porter) (1994)': 296,
 'Three Colors: Red (1994)': 297,
 'Three Colors: Blue (1993)': 298,
 'Three Colors: White (1994)': 299,
 'Red Firecracker, Green Firecracker (1994)': 300,
 'Rent-a-Kid (1995)': 301,
 'Relative Fear (1994)': 302,
 'Stuart Saves His Family (1995)': 303,
 'Swan Princess, The (1994)': 304,
 'Secret of Roan Inish, The (1994)': 305,
 'Specialist, The (1994)': 306,
 'Stargate (1994)': 307,
 'Santa Clause, The (1994)': 308,
 'Shawshank Redemption, The (1994)': 309,
 'Shallow Grave (1994)': 310,
 'Suture (1993)': 311,
 'Strawberry and Chocolate (Fresa y chocolate) (1993)': 312,
 'Swimming with Sharks (1995)': 313,
 'Sum of Us, The (1994)': 314,
 "National Lampoon's Senior Trip (1995)": 315,
 'To Live (Huozhe) (1994)': 316,
 'Tank Girl (1995)': 317,
 'Tales From the Crypt Presents: Demon Knight (1995)': 318,
 'Star Trek: Generations (1994)': 319,
 'Tales from the Hood (1995)': 320,
 'Tom & Viv (1994)': 321,
 'Village of the Damned (1995)': 322,
 'Tommy Boy (1995)': 323,
 'Vanya on 42nd Street (1994)': 324,
 'Underneath, The (1995)': 325,
 'Walking Dead, The (1995)': 326,
 "What's Eating Gilbert Grape (1993)": 327,
 'Virtuosity (1995)': 328,
 'While You Were Sleeping (1995)': 329,
 'War, The (1994)': 330,
 'Double Happiness (1994)': 331,
 "Muriel's Wedding (1994)": 332,
 'Baby-Sitters Club, The (1995)': 333,
 'Ace Ventura: Pet Detective (1994)': 334,
 'Adventures of Priscilla, Queen of the Desert, The (1994)': 335,
 'Backbeat (1993)': 336,
 'Bitter Moon (1992)': 337,
 'Bullets Over Broadway (1994)': 338,
 'Clear and Present Danger (1994)': 339,
 'Client, The (1994)': 340,
 'Corrina, Corrina (1994)': 341,
 'Crooklyn (1994)': 342,
 'Crow, The (1994)': 343,
 'Cobb (1994)': 344,
 'Flintstones, The (1994)': 345,
 'Forrest Gump (1994)': 346,
 'Four Weddings and a Funeral (1994)': 347,
 'Higher Learning (1995)': 348,
 'I Like It Like That (1994)': 349,
 'I Love Trouble (1994)': 350,
 'It Could Happen to You (1994)': 351,
 'Jungle Book, The (1994)': 352,
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Die Macht der Bilder) (1993)': 353,
 'Lion King, The (1994)': 354,
 'Little Buddha (1993)': 355,
 "Wes Craven's New Nightmare (1994)": 356,
 'Mask, The (1994)': 357,
 'Maverick (1994)': 358,
 'Mrs. Parker and the Vicious Circle (1994)': 359,
 'Naked Gun 33 1/3: The Final Insult (1994)': 360,
 'Paper, The (1994)': 361,
 'Reality Bites (1994)': 362,
 'Red Rock West (1992)': 363,
 'Richie Rich (1994)': 364,
 'Safe Passage (1994)': 365,
 'River Wild, The (1994)': 366,
 'Speed (1994)': 367,
 'Speechless (1994)': 368,
 'Timecop (1994)': 369,
 'True Lies (1994)': 370,
 'When a Man Loves a Woman (1994)': 371,
 'Wolf (1994)': 372,
 'Wyatt Earp (1994)': 373,
 'Bad Company (1995)': 374,
 'Man of No Importance, A (1994)': 375,
 'S.F.W. (1994)': 376,
 'Low Down Dirty Shame, A (1994)': 377,
 'Boys Life (1995)': 378,
 'Colonel Chabert, Le (1994)': 379,
 'Faster Pussycat! Kill! Kill! (1965)': 380,
 "Jason's Lyric (1994)": 381,
 'Secret Adventures of Tom Thumb, The (1993)': 382,
 'Street Fighter (1994)': 383,
 'Coldblooded (1995)': 384,
 'Fall Time (1995)': 385,
 'Fear, The (1995)': 386,
 'Frank and Ollie (1995)': 387,
 'Mirage (1995)': 388,
 'Open Season (1996)': 389,
 'Brother Minister: The Assassination of Malcolm X (1994)': 390,
 'Highlander III: The Sorcerer (1994)': 391,
 'Federal Hill (1994)': 392,
 'In the Mouth of Madness (1995)': 393,
 '8 Seconds (1994)': 394,
 'Above the Rim (1994)': 395,
 'Addams Family Values (1993)': 396,
 'You So Crazy (1994)': 397,
 'Age of Innocence, The (1993)': 398,
 'Airheads (1994)': 399,
 'Air Up There, The (1994)': 400,
 'Another Stakeout (1993)': 401,
 'Bad Girls (1994)': 402,
 'Barcelona (1994)': 403,
 'Being Human (1993)': 404,
 'Beverly Hillbillies, The (1993)': 405,
 'Beverly Hills Cop III (1994)': 406,
 'Black Beauty (1994)': 407,
 'Blink (1994)': 408,
 'Blown Away (1994)': 409,
 'Blue Chips (1994)': 410,
 'Blue Sky (1994)': 411,
 'Body Snatchers (1993)': 412,
 'Boxing Helena (1993)': 413,
 'Bronx Tale, A (1993)': 414,
 'Cabin Boy (1994)': 415,
 'Calendar Girl (1993)': 416,
 "Carlito's Way (1993)": 417,
 "City Slickers II: The Legend of Curly's Gold (1994)": 418,
 'Clean Slate (1994)': 419,
 'Cliffhanger (1993)': 420,
 'Coneheads (1993)': 421,
 'Color of Night (1994)': 422,
 'Cops and Robbersons (1994)': 423,
 'Cowboy Way, The (1994)': 424,
 'Dangerous Game (1993)': 425,
 'Dave (1993)': 426,
 'Dazed and Confused (1993)': 427,
 'Demolition Man (1993)': 428,
 'Endless Summer 2, The (1994)': 429,
 'Even Cowgirls Get the Blues (1993)': 430,
 'Fatal Instinct (1993)': 431,
 'Farewell My Concubine (1993)': 432,
 'Favor, The (1994)': 433,
 'Fearless (1993)': 434,
 'Fear of a Black Hat (1993)': 435,
 'With Honors (1994)': 436,
 'Flesh and Bone (1993)': 437,
 "Widows' Peak (1994)": 438,
 'For Love or Money (1993)': 439,
 'Firm, The (1993)': 440,
 'Free Willy (1993)': 441,
 'Fresh (1994)': 442,
 'Fugitive, The (1993)': 443,
 'Geronimo: An American Legend (1993)': 444,
 'Getaway, The (1994)': 445,
 'Getting Even with Dad (1994)': 446,
 'Go Fish (1994)': 447,
 'Good Man in Africa, A (1994)': 448,
 'Guilty as Sin (1993)': 449,
 'Hard Target (1993)': 450,
 'Heaven & Earth (1993)': 451,
 'Hot Shots! Part Deux (1993)': 452,
 'Live Nude Girls (1995)': 453,
 'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)': 454,
 'House of the Spirits, The (1993)': 455,
 'House Party 3 (1994)': 456,
 'Hudsucker Proxy, The (1994)': 457,
 "I'll Do Anything (1994)": 458,
 'In the Army Now (1994)': 459,
 'In the Line of Fire (1993)': 460,
 'In the Name of the Father (1993)': 461,
 'Inkwell, The (1994)': 462,
 "What's Love Got to Do with It? (1993)": 463,
 'Jimmy Hollywood (1994)': 464,
 'Judgment Night (1993)': 465,
 'Jurassic Park (1993)': 466,
 'Kalifornia (1993)': 467,
 'Killing Zoe (1994)': 468,
 'King of the Hill (1993)': 469,
 'Lassie (1994)': 470,
 'Last Action Hero (1993)': 471,
 'Life with Mikey (1993)': 472,
 'Lightning Jack (1994)': 473,
 'M. Butterfly (1993)': 474,
 'Made in America (1993)': 475,
 'Malice (1993)': 476,
 'Man Without a Face, The (1993)': 477,
 'Manhattan Murder Mystery (1993)': 478,
 'Menace II Society (1993)': 479,
 'Executive Decision (1996)': 480,
 'In the Realm of the Senses (Ai no corrida) (1976)': 481,
 'What Happened Was... (1994)': 482,
 'Much Ado About Nothing (1993)': 483,
 'Mr. Jones (1993)': 484,
 'Mr. Wonderful (1993)': 485,
 'Mrs. Doubtfire (1993)': 486,
 'Naked (1993)': 487,
 'Next Karate Kid, The (1994)': 488,
 'New Age, The (1994)': 489,
 'No Escape (1994)': 490,
 'North (1994)': 491,
 'Orlando (1993)': 492,
 'Perfect World, A (1993)': 493,
 'Philadelphia (1993)': 494,
 'Piano, The (1993)': 495,
 'Poetic Justice (1993)': 496,
 'Program, The (1993)': 497,
 "Robert A. Heinlein's The Puppet Masters (1994)": 498,
 'Radioland Murders (1994)': 499,
 'Ref, The (1994)': 500,
 'Remains of the Day, The (1993)': 501,
 'Renaissance Man (1994)': 502,
 'Rising Sun (1993)': 503,
 'Road to Wellville, The (1994)': 504,
 'Robocop 3 (1993)': 505,
 'Robin Hood: Men in Tights (1993)': 506,
 'Romeo Is Bleeding (1993)': 507,
 'Romper Stomper (1992)': 508,
 'Ruby in Paradise (1993)': 509,
 'Rudy (1993)': 510,
 'Saint of Fort Washington, The (1993)': 511,
 'Savage Nights (Nuits fauves, Les) (1992)': 512,
 "Schindler's List (1993)": 513,
 'Scout, The (1994)': 514,
 'Searching for Bobby Fischer (1993)': 515,
 'Second Best (1994)': 516,
 'Secret Garden, The (1993)': 517,
 'Serial Mom (1994)': 518,
 'Shadow, The (1994)': 519,
 'Shadowlands (1993)': 520,
 'Short Cuts (1993)': 521,
 'Simple Twist of Fate, A (1994)': 522,
 'Sirens (1994)': 523,
 'Six Degrees of Separation (1993)': 524,
 'Sleepless in Seattle (1993)': 525,
 'Sliver (1993)': 526,
 'Blade Runner (1982)': 527,
 'Son in Law (1993)': 528,
 'So I Married an Axe Murderer (1993)': 529,
 'Striking Distance (1993)': 530,
 'Harlem (1993)': 531,
 'Super Mario Bros. (1993)': 532,
 'Surviving the Game (1994)': 533,
 'Terminal Velocity (1994)': 534,
 'Thirty-Two Short Films About Glenn Gould (1993)': 535,
 'Threesome (1994)': 536,
 'Nightmare Before Christmas, The (1993)': 537,
 'Three Musketeers, The (1993)': 538,
 'Tombstone (1993)': 539,
 'Trial by Jury (1994)': 540,
 'True Romance (1993)': 541,
 'War Room, The (1993)': 542,
 'Mamma Roma (1962)': 543,
 'Pagemaster, The (1994)': 544,
 'Paris, France (1993)': 545,
 'Beans of Egypt, Maine, The (1994)': 546,
 'Killer (Bulletproof Heart) (1994)': 547,
 'Welcome to the Dollhouse (1995)': 548,
 'Germinal (1993)': 549,
 'Chasers (1994)': 550,
 'Cronos (1992)': 551,
 'Naked in New York (1994)': 552,
 'Kika (1993)': 553,
 'Bhaji on the Beach (1993)': 554,
 'Little Big League (1994)': 555,
 'Slingshot, The (Kådisbellan ) (1993)': 556,
 'Wedding Gift, The (1994)': 557,
 'Foreign Student (1994)': 558,
 'Ciao, Professore! (Io speriamo che me la cavo ) (1993)': 559,
 'Spanking the Monkey (1994)': 560,
 'Little Rascals, The (1994)': 561,
 'Fausto (1993)': 562,
 'Andre (1994)': 563,
 'Hour of the Pig, The (1993)': 564,
 'Scorta, La (1993)': 565,
 'Princess Caraboo (1994)': 566,
 'Celluloid Closet, The (1995)': 567,
 'Metisse (Café au Lait) (1993)': 568,
 'Dear Diary (Caro Diario) (1994)': 569,
 "I Don't Want to Talk About It (De eso no se habla) (1993)": 570,
 'Brady Bunch Movie, The (1995)': 571,
 'Home Alone (1990)': 572,
 'Ghost (1990)': 573,
 'Aladdin (1992)': 574,
 'Terminator 2: Judgment Day (1991)': 575,
 'Dances with Wolves (1990)': 576,
 'Tough and Deadly (1995)': 577,
 'Batman (1989)': 578,
 'Silence of the Lambs, The (1991)': 579,
 'Snow White and the Seven Dwarfs (1937)': 580,
 'Beauty and the Beast (1991)': 581,
 'Pinocchio (1940)': 582,
 'Pretty Woman (1990)': 583,
 'Window to Paris (1994)': 584,
 'Wild Bunch, The (1969)': 585,
 'Love and a .45 (1994)': 586,
 "Wooden Man's Bride, The (Wu Kui) (1994)": 587,
 'Great Day in Harlem, A (1994)': 588,
 'Bye Bye, Love (1995)': 589,
 'One Fine Day (1996)': 590,
 'Candyman: Farewell to the Flesh (1995)': 591,
 'Century (1993)': 592,
 'Fargo (1996)': 593,
 'Homeward Bound II: Lost in San Francisco (1996)': 594,
 'Heavy Metal (1981)': 595,
 'Hellraiser: Bloodline (1996)': 596,
 'Pallbearer, The (1996)': 597,
 'Jane Eyre (1996)': 598,
 'Loaded (1994)': 599,

In [127]:
# transform matrix to scipy sparse matrix
movie_user_mat_sparse = csr_matrix(movie_user_mat.values)

In [128]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
model.fit(mat_movie_features)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=20, p=2,
                 radius=1.0)

In [137]:
# utils import
from fuzzywuzzy import fuzz

def fuzzy_matching(hashmap, fav_movie):
    """
        return the closest match via fuzzy ratio.
        If no match found, return None
        Parameters
        ----------
        hashmap: dict, map movie title name to index of the movie in data
        fav_movie: str, name of user input movie
        Return
        ------
        index of the closest match
    """
    match_tuple = []
    # get match
    for title, idx in hashmap.items():
        ratio = fuzz.ratio(title.lower(), fav_movie.lower())
        if ratio >= 60:
            match_tuple.append((title, idx, ratio))
    # sort
    match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
    if not match_tuple:
        return -1
    else:
        print('Found possible matches in our database: {0}\n'.format([x[0] for x in match_tuple]))
        return match_tuple[0][1]

In [149]:
def inference_movie(idx):
    # inference
    """
        return top n similar movie recommendations based on user's input movie
        ------
        list of top n similar movie recommendations
    """
    n_recommendations = 10
    print('Recommendation system start to make inference')
    print('......\n')
    t0 = time.time()
    distances, indices = model.kneighbors(mat_movie_features[idx], n_neighbors=n_recommendations+1)

    # get list of raw idx of recommendations
    raw_recommends = \
                sorted(
                    list(
                        zip(
                            indices.squeeze().tolist(),
                            distances.squeeze().tolist()
                        )
                    ),
                    key=lambda x: x[1]
                )[:0:-1]
    print('It took my system {:.2f}s to make inference \n'.format(time.time() - t0))

    # print results
    reverse_hashmap = {v: k for k, v in hashmap.items()}
    print('Recommendations for {}:'.format(fav_movie))
    for i, (idx, dist) in enumerate(raw_recommends):
        print('{0}: {1}, with distance of {2}'.format(i+1, reverse_hashmap[idx], dist))

fav_movie = 'Home Alone'
print('You have input movie:', fav_movie)

# get input movie index
idx = fuzzy_matching(hashmap, fav_movie)
if idx > 0:
    inference_movie(idx)
else:
    print('Oops! No match is found')

You have input movie: Home Alone
Found possible matches in our database: ['Home Alone (1990)', 'Home Alone 3 (1997)']

Recommendation system start to make inference
......

It took my system 0.11s to make inference

Recommendations for Home Alone:
1: Sleepless in Seattle (1993), with distance of 0.5436423264407959
2: Robin Hood: Men in Tights (1993), with distance of 0.5410273023889198
3: Pretty Woman (1990), with distance of 0.5398136671020306
4: Dumb & Dumber (1994), with distance of 0.5330284245735715
5: Ace Ventura: Pet Detective (1994), with distance of 0.5309142829723836
6: Mighty Ducks, The (1992), with distance of 0.5152500739446273
7: Sister Act (1992), with distance of 0.4999993447115193
8: Liar Liar (1997), with distance of 0.48879571169174985
9: Mrs. Doubtfire (1993), with distance of 0.4720466900528837
10: Home Alone 2: Lost in New York (1992), with distance of 0.4246803937327782